@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


html, body{
	width: 100%;
	justify-content: center;
	background-color:#0c052e;
	font-family: 'Jua';
}

.container{
	color:#fff;
}

.title{
	width: 100%;
	
	font-family: 'Do Hyeon';
	display:flex;
	justify-content: center;
	text-align:center;
	flex-direction: column;
	
}
.title div{
	
}
.title h1{
	font-size:72px;
	font-weight: 800;
}
.title h2{
	font-size:54px;
	font-weight: 800;
}

.img_tier{
	z-index:20;margin-top:1em;display:flex;flex-direction:row;justify-content: center;
}
.tier_desc{
	vertical-align: middle;font-size:36px;font-weight:800;margin-right:20px;z-index:2;
}

.container_list{
	color:#fff;
}

.container_tier_parent{
	display:flex;
	flex-direction: column;
	max-width:90%;
	width:90%;
	margin-left:5%;
	justify-content: center;
	z-index:20;
}

.container_tier{	
	display:flex;
	max-width:90%;
	width:90%;
	margin-left:5%;
	justify-content: center;
	z-index:20;
}


.tier-item{
    position: relative;
	display:inline-block;
	background-color:#cccccc10;
	margin-right:10px;
	margin-bottom:10px;
	text-align:center;
	font-size: 1.8em;
}

.kart-on-air{
	outline:0.15em solid #66FF00;
	border-radius:0.5em;
}
.tier-thumb{
	display: none;
    position: absolute;
    left: -200px;
    top: -280px;
	z-index:999;
	width:480px;
	height:270px;
	border: 0.1em solid white;
}
.tier-item:hover .tier-thumb{
	display: block;
}
.tier-image{
	height:100px;
	width:100px;
	border-radius:0.4em;
	border:0.1em solid white;
}
.tier-image-on{
	height:100px;
	width:100px;
	border-radius:0.4em;
	border:0.1em solid yellow;
}
.tier-item-on:hover .tier-thumb{
	display: block;
}


.star-tier-item{
    position: relative;
	display:inline-block;
	background-color:#cccccc10;
	margin-right:10px;
	margin-bottom:10px;
	text-align:center;
}
/* .star-tier-item:nth-child(5){
	margin-left:2em;
} */
.tier-container{
	position:absolute;
	top:0px;
	right:0px;
	border-radius: 5px;
	z-index:2;
	font-size:28px;
	font-weight: 800;	
	width: 30px;
	height:30px;
	line-height:34px;
	pointer-events: none;
}

.star-tier-container{
	position:absolute;
	width:100%;
	height:100%;
	top:0.2em;
	left:0;
	display: inline-block;
	align-content: space-around;
	z-index:2;
	pointer-events: none;
	text-shadow: 1px 1px #000000;
}
.star-tier-container:after{
  content: attr(record);
}
.star-tier-container2{
	position:absolute;
	width:100%;
	height:100%;
	top:1.4em;
	left:0;
	display: inline-block;
	align-content: space-around;
	z-index:2;
	pointer-events: none;
	text-shadow: 1px 1px #000000;
}
.star-tier-container2:after{
  content: attr(record);
}
.star-tier-image{
	display:block;
	height:120px;
	width:120px;
	border-radius:0.2em;
	/* pointer-events: none; */
	color: var(--color, #ffffff);
	border: var(--b, null);
	filter:brightness(100%);
	border-radius:0.5em;
	cursor:pointer;
}
.star-tier-item:hover .tier-thumb{
	display: block;
}
.on-air{
	outline:0.2em solid #66FF00;
	border-radius:0.5em;
}
.tier-item-unselected{
	filter:brightness(30%);
}
.tier-item-selected{
	border:.3rem solid green;
	filter:brightness(150%);
}

.Z{
	display: block;
	color:#9B30FF;
	font-size:1.8em;
}
.T{
	display: block;
	color:#0080ff;
	font-size:1.8em;
}
.P{
	display: block;
	color:#ffd333;
	font-size:1.8em;
}

.U{
	display: block;
	color:white;
	font-size:1.8em;
}

.Z-icon{
	background-color:#9B30FF;
}
.T-icon{
	background-color:#0080ff;
}
.P-icon{
	background-color:#ffd333;
}
.U-icon{
	background-color:white;
}
.-{
	background-color:white;
}




.wrapper {
  width: 100%;
  /* padding: 0 2rem; */
  text-align: center;
  justify-content: center;
  align-items: center;
  /* margin-left: -40px; */
}

.item {
  /* width: 17%; */
  /* width: 15%; */
  width: 100px;
  display: inline-block;
  margin-top: 1rem;
  /* filter: grayscale(100%) brightness(1); */
}
.item:hover {
  /* width: 17%; */
  /* width: 15%; */
  width: 120px;
  transform: scale(1.05, 1.05) rotate(1deg) translate(0px, -5px); !important;
  transition: all 0.35s;
  z-index: 2;
  /* filter: grayscale(0%) brightness(1); */
  filter: grayscale(100%) brightness(1);
}
/* .item-onair:hover {
  width: 23%;
  transform: scale(1, 1) !important;
  transition: all 1s;
} */

.polaroid {
  background: #fff;
  /* padding: 0.5rem; */
  padding: 4px 4px 0px 4px;
  /* box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);   */
  box-shadow: 0 0.2rem 1.2rem rgba(255,255,255,0.2);  
  margin:0.5rem;
  text-align: center;
  color: #000;
  
}
.polaroid > img{
  width: 100%;
  object-fit: cover;
  object-position: 100% 0%;
}
.caption {
  /* font-size: 1.8rem; */
  font-size: 14px;
  /* line-height: 2em; */
  line-height: 16px;
  max-width:50px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
}
.rank{	
  font-size: 12px;
}
.c_con{
	
	display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
/* .caption:after {
  content: attr(data-src);
  overflow:hidden;
  white-space:nowrap;
} */
.item:hover .caption:after {
  content: attr(data-hover);
}
.item-onair:hover .caption:after {
  content: attr(data-hover); 
}

.elo_img{
  height: 12px;
}

.pointer {
position: absolute;
height: 140; top:50%;
left:50%;
z-index:99999;
pointer-events: none;
}
.pointer img {
height: 140px;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



.lol-matchup{
	
	margin-bottom:10px;
	background-color:#cccccc10;
	/* border:2px solid white; */
	border-radius:10px;	
}
.persons {
	/* width:100%; */
	width: 100px;
  padding: 0;
  /* margin: 0 0 0 15px; */
  /* margin: -10px 0 20px 15px; */
}

.persons li {
  padding: 0;
  margin: 0 0 0 -15px;
  list-style: none;
  display: inline-block;
}

/* .persons li a {
  display: inline-block;
  width: 45px;
}

.persons li a img {
  max-width: 100%;
} */

.persons li img {
  display: inline-block;
  width: 45px;
  max-width: 100%;
}

.persons img {
  padding: 0;
  /* margin: 0 0 0 -15px; */
  margin: 0 0 0 -10px;
  display: inline-block;
  /* width: 45px; */
  width:20px;
  max-width: 100%;
}